@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium tracking-tight;
  }

}

.prose {
  --tw-prose-body: #0b0b0b;
  --tw-prose-headings: #0b0b0b;
  --tw-prose-lead: #0b0b0b;
  --tw-prose-bold: #0b0b0b;
  --tw-prose-counters: #0b0b0b;
  --tw-prose-bullets: #0b0b0b;
  --tw-prose-quotes: #0b0b0b;
  --tw-prose-quote-borders: #0b0b0b;
  --tw-prose-code: #0b0b0b;
  --tw-prose-captions: #0b0b0b;
}

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@utility bg-dots {
  background-image: radial-gradient(circle, #d1d5db 1px, transparent 1px);
  background-size: 24px 24px;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility animate-border-glow {
  animation: border-pulse 2s ease-in-out infinite;
}

@keyframes border-pulse {
  0%,
  100% {
    box-shadow: inset 0 0 8px var(--color-primary), 0 0 8px var(--color-primary);
  }
  50% {
    box-shadow: inset 0 0 16px var(--color-primary), 0 0 16px var(--color-primary);
  }
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-primary: #04e762;
  --color-primary-dark: #03c754;
  --color-accent-blue: #008bf8;
  --color-accent-yellow: #f5b700;
  --color-accent-pink: #e80080;
  --color-placeholder: #b3b3b3;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  --font-sans: var(--font-spline-sans-mono);
  --font-serif: var(--font-tiro);

  --default-transition-duration: 250ms;
}
